* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'open sans';
}
header {
    width: 100%;
    height: 600px;
    background: #07806f98;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(162, 85%, 75%, 0.281), hsla(157, 74%, 54%, 0.384)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(155, 58%, 52%, 0.349), hsla(317, 46%, 54%, 0.664)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #2d9094;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #2c7c7c;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.bloque1 > img{
    width: 300px;
    height: 300px;
    align-items: center;
    margin-left: 920px;
    margin-right: 920px;
    position: center;
    z-index: 1;
    border-radius: 50%;
}
.bloque1 > .textos{
    display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  margin-bottom: 50px;
}
.textos a{
    display: inline-block;
    font-size: 20px;
    color: black;
    font-weight: 600;
    text-decoration: solid;
    margin-left: 20px;
    border: 2px solid cyan;
    width: 160px;
    text-align: center;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
    box-shadow: 5px 5px rgba(79, 212, 230, 0.692);
    transition: all 0.8s ease-in;
}
.textos a:hover{
    margin-right: 35px;
    border-radius: 25px;
    background: rgb(109, 228, 139);
}
.reali_stud > .titulo {
    text-align: right;
  }
  img.img-estudios_reali {
    float: left;
    margin-right: 60px;
  }
  .tabla > thead th{
    font-size: 25px;
    padding-bottom: 5px;
  }
  .tabla > tbody .ins{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
  }
  .tabla > tbody .noins{
    padding-right: 20px;
    padding-left: 20px;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
  }
  .reali_stud > .titulo {
    text-align: right;
  }
  img.img-estudios_reali {
    float: left;
    margin-right: 60px;
  }
  .tabla > thead th{
    font-size: 25px;
    padding-bottom: 5px;
  }
  .tabla > tbody .ins{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
  }
  .tabla > tbody .noins{
    padding-right: 20px;
    padding-left: 20px;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
  }
  .Habili_ad > .titulo {
    text-align: left;
  }
  img.img-habili_ad {
    float: right;
    margin-left: 60px;
    width: 600px;
    height: 400px;
  }
  h4.habtext {
    margin-top: 35px;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
  }
  .Mi_trabajo > .titulo {
    text-align: right;
  }
  img.img-mi_work {
    float: left;
    margin-right: 60px;
    width: 600px;
    height: 300px;
  }
  h4.trabtxt {
    margin-top: 50px;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
  }
  .Mi_curso > .titulo {
    text-align: left;
  }
  img.img-mi_curso {
    float: right;
    margin-left: 60px;
  }
  h4.curtext {
    margin-top: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
  }
  .portafolio{
    background: #26807b93;
}
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #0a502f70;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

.form {
  width: 340px;
  height: 440px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.form > h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #78788c;
  border-bottom: 3px solid #78788c;
}
input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}
input:focus {
  border-bottom: 2px solid #78788c;
}
.form > p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}
button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background: #78788c;
  color: #fff;
}
.form > div {
  content: "Hi";
  position: absolute;
  bottom: -15px;
  right: -20px;
  background: #50505a;
  color: #fff;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000;
}
span {
  margin: 0 5px 0 15px;
}
